.DS_Store

# CLion per-user file
/.idea/workspace.xml

# Qt Creator per-user file
CMakeLists.txt.user

# clangd cache
/.cache

# VC6 generated stuff
*.aps
*.ncb
*.opt
*.plg
*.dsw

# Current Visual Studio generated stuff
out
.vs
CMakeSettings.json